.cards-wrapper {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.5;
    border-radius: .5rem;
    border-width: 0;
    flex-shrink: 0 !important;
    display: flex;
    width: 18rem;
    flex-direction: column;
    max-height: 100%;
    margin-bottom: auto;

}

.cards-wrapper-header {
    /*background-color: rgba(255, 255, 255, var(--tw-bg-opacity));*/
    /*--tw-bg-opacity: 0.4;*/
    /*border-radius: .5rem;*/
    flex-shrink: 0 !important;
    padding-right: .8rem !important;
    padding-left: .8rem !important;
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.cards-container {
    overflow: auto !important;
    overflow-y: scroll;
    padding-bottom: .5rem !important;
    display: flex;
    flex-direction: column;
}

.cards-wrapper-title {
    font-feature-settings: normal;
    font-variation-settings: normal;
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.cards-counter {
    background-color: rgba(255, 255, 255) !important;
    border-radius: var(--bs-border-radius) !important;
    margin-left: 0.5rem;
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 0.3;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
}

/*.add-card-button {*/
/*    font-family: inherit;*/
/*    font-size: 100%;*/
/*    font-weight: inherit;*/
/*    line-height: inherit;*/
/*    padding: 0;*/
/*    text-transform: none;*/
/*    -webkit-appearance: button;*/
/*    background-image: none;*/
/*    border-radius: var(--bs-border-radius) !important;*/
/*    margin: 0 0 0 auto;*/
/*    display: flex;*/
/*    height: 1.5rem;*/
/*    width: 1.5rem;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    cursor: none;*/
/*}*/


.cards-wrapper-footer, .add-card-composer, .no-tasks {
    flex-shrink: 0 !important;
    padding: 0.5rem;
    margin: auto;
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-items: center;
}

