.header {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.6;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 4rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
}

.navigation {
    /*margin-left: 2.5rem;*/
    margin-left: 2.5rem !important;
}

.navigation, .user-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    position: relative;
    inset: auto;
    margin-left: auto;
    width: auto;
    padding-right: 0px;
}

.nav-button {
    border-radius: .5rem;
    --bs-bg-opacity: 0.8;
    background-color: rgb(67 56 202 / var(--bs-bg-opacity)) !important;
    padding: .4rem 0.7rem;
    text-align: center;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.toggle-button {
    text-decoration: inherit;
    margin-right: .5rem !important;
    margin-left: .5rem !important;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(67 56 202 / var(--tw-text-opacity)) !important;
    border-color: transparent !important;
    background-color: transparent !important;
    cursor: none;
}

.toggle-button::after {
    display: none;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.9;
    text-decoration: inherit;
    margin-right: .5rem !important;
    margin-left: .5rem !important;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    --bs-dropdown-link-active-background: none;
    --bs-dropdown-link-hover-bg: none;

}
