.add-project-form {
    position: relative;
    padding: 1rem /* 16px */;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.5rem /* 8px */;

}